doc
**target*
.idea/
Dockerfile
Dockerfile.*
.dockerignore
.local
.env*
.git
.gitignore
.gitlab-ci.yml
.github
.cargo/registry
.cargo/git
.cargo/tmp
**/*.log
**/*.lock
node_modules
npm-debug.log
.DS_Store
.vscode
.vim
*.swp
*.swo
*~
.editorconfig
